.login-section {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;

  }
  .form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }